/*page structure*/

* {
  box-sizing: border-box;
}

.page { /*don't style body tag*/
  background-image: url("../images/textures/noisy_grid.png");
  color: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
  height: 90px;
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}

.navbar-brand {
  background-color: #4aaaa5;
  height: 100%;
  padding: 0;
  position: absolute;
}
.navbar-brand h1 {
  color: #fff;
  padding: 0 30px 0 30px;
}
.navbar-right {
  height: 100%;
  padding: 30px 0;
}
.navbar-right li {
  font-size: larger;
  height: 20px;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid #ddd;
}
.navbar-right li:last-child {
  border-right: none;
  padding-right: 0; /*keep default BS right-alignment*/
}
.navbar-right li a {
  padding: 0; /*remove default padding*/
}

.container {
  max-width: 960px;
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 90px;
  /*position: absolute;
  bottom: 0;*/
  margin-top: 40px;
  padding: 33px;
  text-align: center;
  font-size: smaller;
  background-color: #666;
  color: #ccc;
  border-top: 8px solid #4aaaa5;
}

/* main content - general */

.panel {
  padding: 30px;
  border-radius: 0;
}
.panel .page-header {
  margin-top: 0;
  padding-top: 0;
  border-bottom: 2px solid #ddd;
}
.main_content .page-header {
  border-bottom: 3px solid #ddd
}

.col-md-8, .col-md-4 { /*increase space between panel elements*/
  padding-left: 20px;
  padding-right: 20px;
}

.panel h1,h2,h3,h4,h5,h6{
  margin-top:0;
}

/*applies to project and social thumbnails */
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail:active {
  border-color: #4aaaa5;
}

/* social links */
.social_panel {
  min-width: 270px;
}
.social_panel h3{
  font-size: 1.6em; /*default size is too large*/
}

.social_panel ul {
  margin: 0 auto; /*remove default container margin and recenter */
  text-align: center;
  overflow: auto;
  float: left;
}
.social_panel li {
  display: inline-block; /* align in a row but not floated left*/
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.social_panel li:first-child{
  padding-left: 0;
}
.social_panel li:last-child{
  padding-right: 0;
}
.social_panel .thumbnail {
  border-radius: 0;
  border: none;
  width: 62px;
  padding: 0;
}


/* about me elements */

.about_me p{
  line-height: 1.9;
  font-size: medium;
  overflow: auto;
  }
.about_me a {
  color: #5D2E16;
  text-decoration: none;
}
.about_me p a:hover {
  color: #AA6B4A;
}
.about_me .thumbnail {
  padding: none;
  border: none;
  border-radius: 0;
  float: left;
  width: 100%;
  max-height: 300px;
  min-height: 250px;
  object-fit: cover;/* crop and center*/ 
}

/* contact form elements */
.btn,
.btn:hover,
.btn:active,
.btn:focus {
  background: #4aaaa5;
  color: #fff;
  width: 115px;
  height: 40px;
  font-size: larger;
}

form label {
  font-weight: normal;
  font-size: medium;
}

/* project gallery elements */

.project .thumbnail {
  overflow: auto;
  position: relative;
  padding: 0; /*remove default padding */
  border-radius: 0;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.project .thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover; /*crop and center*/
}
.project .caption {
  z-index: 2;
  width: 100%;
  background: #4aaaa5;
  position: absolute;
  bottom: 10px;
  padding: 15px 0 20px 0;
}
.project .caption h4 {
  font-weight: normal;
  font-size: 1.3em;
  margin: 0;
  color: #fff;
}